body { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
#one,#two,#three,#four{
	border: 5px solid ;
	margin: 5px;
	padding: 5px;
	width: 25%;    
	position: fixed;

}

#one{
	bottom:8px;
	right:16px;
	border-color:blue;
}

#two{
	top:8px;
	right:16px;
	border-color:green;
}

#three{
	top:8px;
	left:16px;
	border-color:orange;
}

#four{
	bottom:8px;
	left:16px;
	border-color:yellow;
}

a{

	position: fixed;
	left: 50%;
	background-color: #3d59c6;
	color: white;
	font-size: 14px;
}

